/******************************************************/


/*
*** General Styling
*/


/******************************************************/


/*
darkgrey: #33332D;
softGrey: #9B9B9B;
medgrey: ; #545555;
sidebar Nav: #FAFAFA;
purple: #5D478B;
lightGrey: #EDEFF0;
cream: #FEF7E3;
orange: #EE9A00;
strong orange: #F16521;
teal: #008B8B;
*/

@font-face { font-family: Avenir-Regular; src: url('../fonts/AvenirNextLTPro-Regular.woff'); }
@font-face { font-family: Avenir; src: url('../fonts/AvenirNextLTPro-Bold.woff'); }
@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto:400,300,500,700);
body {
    font-family: 'Avenir-Regular', sans-serif;
    font-weight: 400;
    color: #33332D;
}

/*.skill-bar span {
    animation: w70 1s ease forwards;
}
.skill-bar .w70 {
    width: 70%;
}
@keyframes w70 {
    from { width: 0%; }
    to { width: 70%; }
}*/

/*
  Live VNC Console
*/

canvas#noVNC_canvas {
  width: 100% !important;
}

.login.col-md-4.col-centered {
  height: 500px !important;
  width: 90%;
}

div#noVNC_screen {
  height: initial !important;
}

iframe {
  padding-top: 20px;
  height: 450px !important;
  position: inherit !important;
  overflow: auto;
}

/*
  Live VNC Console End
*/

#log {
  margin: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

.nav-tabs .dropdown-menu {
  width: 100%;
}

.nav>li>a:focus, 
.nav>li>a:hover,
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
  background-color: #008B8B;
  border-color: #008B8B;
  color: #FEF7E3;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #33332D;
}

.small-logo {
  background: no-repeat url("../images/logo_light.png");
  height: 34px;
  width: 100%;
  margin: 10px 0 0 40px;
  display: inline-block;
}

.hideHeader {
    position: absolute;
    top: -200px;
}

.glyphicon-menu-hamburger {
    padding: 8px 30px;
    font-size: 3em;
    color: white;
}

.hideHamburger {
    display: none;
}

.btn {
  padding: 10px;
  border: 2px solid #33332D;
  color: #33332D;
  background-image: none;
  text-shadow: none;
  outline: none;
}

.btn:hover {
  border-color: #33332D;
  background-color: #33332D;
  color: #FEF7E3;
}
/**/


/*
*** Home page  ***
*/


/**/

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.home-title {
    margin: 0;
    padding: 0;
}

h3.tagline {
  font-family: Avenir;
}

.intro p {
  font-family: Avenir-Regular;
}

.home-login {
    background-color: #FFF8DC;
    color: #33332D;
    font-size: 1.2em;
    padding-bottom: 220px;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 0px 30px 100px 30px;
}

.home-login div {
    animation: login 1s ease forwards;
}
.login {
    overflow: hidden;
    text-align: center;
}

@keyframes login {
    from {margin-top: -5000px; opacity: 0}
    to {margin-top: 20px; opacity: 1}
}

.main-logo {
  background: no-repeat center url("../images/logo.png");
  height: 86px;
  width: 100%;
  text-align: center;
}

.login .tagline {
}

.login-intro {
  font-family: Avenir-Regular;
  margin-top: 30px;
}

.intro {
  text-align: center;
}
.intro h2, .intro p  {
  font-family: Avenir-Regular;
  text-align: left;
  margin-left: 65px;
}

.signIn {
  border: 3px solid #33332D;
  padding: 10px;
  width: 320px;
  margin: 10px 35%;
  display: block;
  color: #33332D;
  font-weight: 700;
}

a .signIn {
  color: #33332D;
}

.signIn:hover, .signIn:focus {
  background-color: #33332D;
  color: #FEF7E3;
  outline: none;
}

.tooltips {
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #33332D;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  border: none;
  min-width: 180px;
  left: 50%;
  margin-left: -90px;
  margin-top: 0px;
  z-index: 999;
}
.tooltips:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #33332D;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tooltips:hover, .tooltips:focus, .tooltips:visited {
  background: #008B8B;
  outline: none;
}
.tooltips:hover:after, .tooltips:focus:after, .tooltips:visited:after {
  border-top: 8px solid #008B8B;
  outline: none;
}

.home-details {
  background-color: #162B26;
  min-height: 400px;
  color: #FEF7E3;
  padding: 20px;
}

.home-details h3 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.home-details .image {
  width: 200px;
  height: 250px;
  float: left;
}

.home-details .instance,
.home-details .node,
.home-details .procfile
 {
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
  background-size: 65%;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
}
.home-details .instance {
  background-image: url("../images/instance.png");
}
.home-details .node {
  background-image: url("../images/node.png");
  background-size:90%;
}

.home-details .procfile {
  background-image: url("../images/proc.png");
  background-size:60%;
}

.home-details .controls {
  width: 100%;
  text-align: center;
}
.controlButton {
  border: 3px solid #FEF7E3;
  padding: 10px;
  display: inline-block;
  color: #FEF7E3;
  font-weight: 700;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}

a .controlButton {
  color: #FEF7E3;
}

.controlButton:hover {
  background-color: #F16521;
  border: 3px solid #F16521;
  color: #162B26;
  outline: none;
}



.slideUp {
  -webkit-transform: translateY( -500px );
  transform: translateY( -500px );
  transition-duration: .8s;
  transition-timing-function: ease-in-out;
  }

.slideDown {
  -webkit-transform: translateY( 0px );
  transform: translateY( 0px );
  transition-duration: .8s;
  
}

.glyph {
    font-size: 2.5em;
}

.list-group-item .repoItem:nth-child(even) {
    background-color: lightgrey;
}


/*
** main-panel styling to prepare for the sliding sidebar on mobile view **
*/

.main-panel {
    float: left;
}


/*
** sideBar styling **
*/


/*for animation on the large desktop view*/

.sideBarPanel {
    position: absolute;
}

.side-bar {
    position: relative;
    background-color: #33332D;
    margin: 0;
    padding: 0;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    width: 295px;
    overflow-y: hidden;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}


/* show/hide toggle for small screens */

.showSideNav {
    width: 298px !important;
}

/*
** SideBar User Profile***
*/

.user-profile {
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 118px;
}

.user-profile-widget {
    margin: 0;
    padding: 25px 5px 0 0;
}

.user-profile-widget li {
    display: inline;
    padding: 0 5px;
}

ul.user-profile-widget li img.avatar {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 1px grey;
}

.user-profile-widget button {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    height: 47px;
    width: 47px;
    font-size: 1.5em;
    color: lightgrey;
    box-shadow: 1px 1px 1px grey;
}

.user-profile-widget .glyphicon {
    line-height: normal;
    top: 4px;
}

.user-profile-widget .badge {
    position: absolute;
    left: 245px;
    top: 58px;
    background-color: orange;
}

.user-details {
    margin: 10px;
    color: #0099ff;
}

.user-details .name {
    color: #4A4A4A;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
}

.user-details .handle {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #5D478B;
}


/*.user-detrals span {
  display: block;
  color: #545555;
}*/


/**/

.sidebar-nav {
  position: absolute;
  top: 200px;
  width: 100%;
  background-color: #FAFAFA;
  height: 100%;
  overflow-y: auto;
}


/*
** Sidebar Dropdown Nav
*/

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel+.panel {
    margin-top: 0;
}

.panel {
    border-radius: 0;
}


/*normal nav header */

.panel .panel-heading {
    background-image: none;
    background-color: #FAFAFA;
    border-radius: 0;
    padding: 0;
}

h4 {
  font-family: Avenir-Regular;
}

.panel .panel-heading h4 a {
    display: block;
    padding: 10px;
}

.panel .panel-heading h4 a:hover,
.panel .panel-heading h4 a:active {
    text-decoration: none;
    background-color: lightgrey;
    outline: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    margin: 0;
    padding: 0;
}

.sidebar-nav nav {
    margin: 140px 0 0 0;
}

.sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    font-size: 1.1em;
    background: #4A4A4A;
    border-bottom: 1px solid #EDEFF0;
}

.sidebar-nav li a {
    padding: 10px;
    color: #EDEFF0;
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar-nav li a:hover {
    color: #4A4A4A;
}

.sidebar-nav li:hover {
    background-color: #EDEFF0;
}

.sidebar-nav li a:focus {
    outline: none;
    color: #EDEFF0;
}


/* Toggle */

.sidebar-nav li.active {
    background-color: orange;
    color: #fff;
    pointer-events: none;
    cursor: default;
}

.logout {
  width: 100%;  
  border-radius: 0;
}

.logout:hover {
  background-color: #008B8B;
  border-color: #008B8B;
}


/*
/*
 ** Main Panel Styles **
*/

.main {
  padding-bottom: 50px;
  margin-left: 320px;
}

.welcome-banner {
    text-align: center;
    border-bottom: 1px solid #EDEFF0;
    margin-bottom: 30px;
    padding: 30px 0 20px 0;
}

/*
/*
** Repo List
*/

#uncontrolled-tab-example {
  width: 90%;
  outline: none;
  border: 1px solid #EAEAEA;
  margin-bottom: 40px;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  border-top: none;
}

#uncontrolled-tab-example .tab-content {
   background-color: #FAFAFA;
   padding-bottom: 5px;
}

#uncontrolled-tab-example .nav-tabs>li>a {
  color: lightgrey;
  cursor: default;
  background-color: #33332D;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 10px 10px 0 0;

}

#uncontrolled-tab-example .nav-tabs>li.active>a, 
#uncontrolled-tab-example .nav-tabs>li.active>a:focus, 
#uncontrolled-tab-example .nav-tabs>li.active>a:hover {
  color: #FEF7E3;
  background-color: #008B8B;
}

.repo-list.panel-group {
  padding: 30px 30px 20px 30px;
  margin-bottom: 0;
}

.repo-list.panel-group .panel .panel-heading h4:before {
  font-family: 'Glyphicons Halflings';
  content:"\e019";
  float: left;
  font-size: 1.5em;
  margin: 16px;
}

.repo-list.panel-group .panel {
  height: 100%;
  margin-bottom: 7px;
  box-shadow: 0.5px 0.5px 1px lightgrey;
}

.repo-list.panel-group .panel .panel-heading h4 a {
  padding: 20px;
}

.repo-list.panel-group .panel .panel-body {
  padding: 30px;
  background-color: #33332D;
  color: #FEF7E3;
}

.repo-list.panel-group .panel-body a {
  color: #FEF7E3;
}

.repo-list.panel-group .panel-body a:hover {
  color: #EE9A00;
  text-decoration: underline;
}

.repo-list .deployBtn {
  background-color: #33332D;
  background-image: none;
  color: #FEF7E3;
  border: 2px solid;
  margin-top: 20px;
  outline: none;
}

.repo-list .deployBtn:hover,
.repo-list .deployBtn:focus,
.repo-list .deployBtn:active,
#envForm button:hover,
#envForm button:focus  {
  background-color: #EE9A00;
  color: #33332D;
  border: 2px solid #EE9A00;
  text-shadow: none;
}

#envForm button {
  background-image: none;
  background-color: #33332D;
  border: 2px solid #FEF7E3;
  color: #FEF7E3;
}
/*#repo-list.panel-group .panel-body b,
#repo-list.panel-group .panel-body a
 {
  padding: 30px;
  background-color: #33332D;
}*/

.repo-list.panel-group .panel-title,
.repo-list.panel-group .panel-title a {
  width: 100%;
  height: 60px;
  display: block;
  background-color: #FFF;
  /*margin: 0 auto;*/
}

.repo-list.panel-group .panel-title a:hover, 
.repo-list.panel-group .panel-title a:active,
.repo-list .cancel:hover,
.repo-list .cancel:focus {
  background-color: #EE9A00;
  color: #FEF7E3;
}

.repo-list .cancel {
  background-image: none;
  background-color: #008B8B;
  float: right;
  width: 150px;
}

.refresh-button {
  margin: 0 30px 35px 30px;
  background-color: #008B8B;
  padding: 20px;
  box-shadow: 1px 1px 2px #888888;
}

.refresh-button h4 {
  margin-top: 0;
}

.refresh-button button {
  background-image: none;
  background-color: #008B8B;
  border-style: none;
  border: 2px solid;
  padding: 5px 100px;
}

.refresh-button button:hover {
  background-color: #EE9A00;
  border-style: none;
  border: 2px solid #EE9A00;
  color: #FEF7E3;
}

/*
/*
 ** Dashboard  **
*/


/* Info Panel */

.info-panel {
    border: 1px solid #EDEFF0;
    background-color: #fff;
    padding: 20px;
    width: 90%;
}

.info-panel .ip {
  font-size: 3.1vw;
  text-align: right;
  letter-spacing: 2.5px;
  padding: 20px 0px 0px 0;
  border-bottom: 1px solid #EDEFF0;
  margin-bottom: 10px;
}

/*.info-panel .go-to-ip {
    margin-right: 18px;
    float: right;
    width: 130px;
}*/

.info-panel .go-to-site {
  border-color: #EE9A00;
  color: #FEF7E3; 
  margin-bottom: 10px;
  background-color: #EE9A00;
  width: 140px;
}

.info-panel .go-to-site:hover {
  border-color: #33332D;
  color: #FEF7E3; 
  margin-bottom: 10px;
  background-color: #33332D;
  width: 140px;
}

.info-panel .btn-group {
    display: inline-block;
}

.dashboard-bubbles {
  display: block;
  overflow: auto;
  text-align: center;
}
.status-bubble,
.build-bubble {
  height: 140px;
  width: 140px;
  padding: 33px 0 0 26px;
  margin: 5px;
  font-size: 12px;
  border-radius: 50%;
  display: inline-flex;
}

.status-bubble {
    background-color: #33332D;
    border: 13px solid #9B9B9B;
    color: white;
}

.build-bubble {
    border: 13px solid #EDEFF0;
    border-radius: 50%;
}

.info-panel span {
    font-size: 2.3em;
    font-weight: 500;
    letter-spacing: 0.1em;
    display: block;
}

.info-panel .build-bubble span {
    font-size: 1.4em;
    font-weight: 400;
}

.info-panel ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    height: 78px;
}

.info-panel ul li {}

.info-panel ul li:first-child {
    text-transform: uppercase;
    border-bottom: 1px dotted lightgrey;
    font-weight: 700;
    color: #9B9B9B;
}


/*SSH Login Panel*/

.ssh-button {
  margin-top: 20px;
  width: 100%;
  background-image: none;
  background-color: #33332D;
  padding: 10px;
  border-color: #33332D;
  color: #FEF7E3;
  width: 90%;
}

.ssh-button:hover,
.ssh-button:focus,
.ssh-button:visited {
  background-color: #EE9A00;
  border-color: #EE9A00;
}

.sshLive {
    display: none;
}

.sshList {
  width: 90%;
}
.sshList span {
    font-weight: 700;
    color: #9B9B9B;
    padding-right: 20px;
}


/* Instance Buttons */

/*#reinstall-instance-tooltip p {
    padding: 20px;
    color: lightgray;
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 500px;
    overflow: auto;
}
*/

/* Graphs Styles */

text.shadow {
    stroke: #fff;
    stroke-width: 2.5px;
    opacity: 0.9;
}

text.title {
    text-decoration: none;
    float: left;
    font-size: 10px;
    color: darkgrey;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    /*stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;*/
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0;
    shape-rendering: crispEdges;
}

.tick text {
    font-size: 0.5em;
}

.grid path {
    stroke-width: 0;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}


/*.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */


/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/


/* Style northward tooltips differently */


/*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/

.overlay {
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    background-color: black;
}


/*
/* App Management Console
*/

.app-management-console {
    background-color: #4A4A4A;
    margin: 20px 20px 20px 0;
    padding: 20px;
    color: lightgray;
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 500px;
    overflow: auto;
}

.has-feedback label~.form-control-feedback {
    font-size: 1.3em;
}

.log {
    width: 720px;
    height: 405px;
    padding: 10px;
    color: #32CD32;
}

.sshLog {
    /*background-color: #4A4A4A;*/
    margin: 20px 20px 20px 0;
    padding: 20px;
    /*color: lightgray;*/
    display: inline-block;
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 450px;
    overflow: auto;
    font-size: 13px;
    font-weight: normal;
    font-family: monospace;
    text-align: left;
}

.fadein {
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
/*.loading_Page {
  opacity: 0.5;  
}*/

.Steps {
    height: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    /*    opacity: 0.5;   */
}

.Steps .log {
    /*  width: 720px;
    height: 405px;
    color: white;
    background: #000;
    border: 5px groove #ccc;
    display: block;
    font-size: 13px;
    font-weight: normal;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1002;
    opacity: 1;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 16px;
    background-color: black;*/
    background-color: #4A4A4A;
    margin: 20px 20px 20px 0;
    padding: 20px;
    color: lightgray;
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 200px;
    overflow: auto;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
}

.popUp {
    width: 720px;
    height: 405px;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 2000;
    opacity: 1;
    position: absolute;
    transition: ease 1000ms linear;
}

.nav-tabs>li {
    width: 50%;
    color: #4A4A4A;
}

.repoInstance {
    text-align: center;
}

/*
/* Live Console
*/
.iframe {
  position: relative;
}


/*************************************************/


/*
** MEDIA QUERIES
*/


/*************************************************/


/* small screens */
@media (max-width: 1084px) {
  .hideHeader {
    position: relative;
    background-color: #EE9A00;
    top: 0px;
  }

  .tooltips {
    display: none;
  }

  .signIn {
    margin: 10px 0;
    width: 100%;
  }

  .side-bar {
      width: 0px;
      z-index: 100;
  }
  .main {
      margin-left: 0;
      float: none;
  }
  .home-details .image {
    float: none;
  }

  /* app management sobdomain input validation */
  .has-feedback label~.form-control-feedback {
      top: 395px;
  }
}



.ef0,.f0 { color: #000000; } .eb0,.b0 { background-color: #000000; }
.ef1,.f1 { color: #AA0000; } .eb1,.b1 { background-color: #AA0000; }
.ef2,.f2 { color: #00AA00; } .eb2,.b2 { background-color: #00AA00; }
.ef3,.f3 { color: #AA5500; } .eb3,.b3 { background-color: #AA5500; }
.ef4,.f4 { color: #0000AA; } .eb4,.b4 { background-color: #0000AA; }
.ef5,.f5 { color: #AA00AA; } .eb5,.b5 { background-color: #AA00AA; }
.ef6,.f6 { color: #00AAAA; } .eb6,.b6 { background-color: #00AAAA; }
.ef7,.f7 { color: #AAAAAA; } .eb7,.b7 { background-color: #AAAAAA; }
.ef8, .f0 > .bold,.bold > .f0 { color: #555555; font-weight: normal; }
.ef9, .f1 > .bold,.bold > .f1 { color: #FF5555; font-weight: normal; }
.ef10,.f2 > .bold,.bold > .f2 { color: #55FF55; font-weight: normal; }
.ef11,.f3 > .bold,.bold > .f3 { color: #FFFF55; font-weight: normal; }
.ef12,.f4 > .bold,.bold > .f4 { color: #5555FF; font-weight: normal; }
.ef13,.f5 > .bold,.bold > .f5 { color: #FF55FF; font-weight: normal; }
.ef14,.f6 > .bold,.bold > .f6 { color: #55FFFF; font-weight: normal; }
.ef15,.f7 > .bold,.bold > .f7 { color: #FFFFFF; font-weight: normal; }
.eb8  { background-color: #555555; }
.eb9  { background-color: #FF5555; }
.eb10 { background-color: #55FF55; }
.eb11 { background-color: #FFFF55; }
.eb12 { background-color: #5555FF; }
.eb13 { background-color: #FF55FF; }
.eb14 { background-color: #55FFFF; }
.eb15 { background-color: #FFFFFF; }
.ef16 { color: #000000; } .eb16 { background-color: #000000; }
.ef17 { color: #00005f; } .eb17 { background-color: #00005f; }
.ef18 { color: #000087; } .eb18 { background-color: #000087; }
.ef19 { color: #0000af; } .eb19 { background-color: #0000af; }
.ef20 { color: #0000d7; } .eb20 { background-color: #0000d7; }
.ef21 { color: #0000ff; } .eb21 { background-color: #0000ff; }
.ef22 { color: #005f00; } .eb22 { background-color: #005f00; }
.ef23 { color: #005f5f; } .eb23 { background-color: #005f5f; }
.ef24 { color: #005f87; } .eb24 { background-color: #005f87; }
.ef25 { color: #005faf; } .eb25 { background-color: #005faf; }
.ef26 { color: #005fd7; } .eb26 { background-color: #005fd7; }
.ef27 { color: #005fff; } .eb27 { background-color: #005fff; }
.ef28 { color: #008700; } .eb28 { background-color: #008700; }
.ef29 { color: #00875f; } .eb29 { background-color: #00875f; }
.ef30 { color: #008787; } .eb30 { background-color: #008787; }
.ef31 { color: #0087af; } .eb31 { background-color: #0087af; }
.ef32 { color: #0087d7; } .eb32 { background-color: #0087d7; }
.ef33 { color: #0087ff; } .eb33 { background-color: #0087ff; }
.ef34 { color: #00af00; } .eb34 { background-color: #00af00; }
.ef35 { color: #00af5f; } .eb35 { background-color: #00af5f; }
.ef36 { color: #00af87; } .eb36 { background-color: #00af87; }
.ef37 { color: #00afaf; } .eb37 { background-color: #00afaf; }
.ef38 { color: #00afd7; } .eb38 { background-color: #00afd7; }
.ef39 { color: #00afff; } .eb39 { background-color: #00afff; }
.ef40 { color: #00d700; } .eb40 { background-color: #00d700; }
.ef41 { color: #00d75f; } .eb41 { background-color: #00d75f; }
.ef42 { color: #00d787; } .eb42 { background-color: #00d787; }
.ef43 { color: #00d7af; } .eb43 { background-color: #00d7af; }
.ef44 { color: #00d7d7; } .eb44 { background-color: #00d7d7; }
.ef45 { color: #00d7ff; } .eb45 { background-color: #00d7ff; }
.ef46 { color: #00ff00; } .eb46 { background-color: #00ff00; }
.ef47 { color: #00ff5f; } .eb47 { background-color: #00ff5f; }
.ef48 { color: #00ff87; } .eb48 { background-color: #00ff87; }
.ef49 { color: #00ffaf; } .eb49 { background-color: #00ffaf; }
.ef50 { color: #00ffd7; } .eb50 { background-color: #00ffd7; }
.ef51 { color: #00ffff; } .eb51 { background-color: #00ffff; }
.ef52 { color: #5f0000; } .eb52 { background-color: #5f0000; }
.ef53 { color: #5f005f; } .eb53 { background-color: #5f005f; }
.ef54 { color: #5f0087; } .eb54 { background-color: #5f0087; }
.ef55 { color: #5f00af; } .eb55 { background-color: #5f00af; }
.ef56 { color: #5f00d7; } .eb56 { background-color: #5f00d7; }
.ef57 { color: #5f00ff; } .eb57 { background-color: #5f00ff; }
.ef58 { color: #5f5f00; } .eb58 { background-color: #5f5f00; }
.ef59 { color: #5f5f5f; } .eb59 { background-color: #5f5f5f; }
.ef60 { color: #5f5f87; } .eb60 { background-color: #5f5f87; }
.ef61 { color: #5f5faf; } .eb61 { background-color: #5f5faf; }
.ef62 { color: #5f5fd7; } .eb62 { background-color: #5f5fd7; }
.ef63 { color: #5f5fff; } .eb63 { background-color: #5f5fff; }
.ef64 { color: #5f8700; } .eb64 { background-color: #5f8700; }
.ef65 { color: #5f875f; } .eb65 { background-color: #5f875f; }
.ef66 { color: #5f8787; } .eb66 { background-color: #5f8787; }
.ef67 { color: #5f87af; } .eb67 { background-color: #5f87af; }
.ef68 { color: #5f87d7; } .eb68 { background-color: #5f87d7; }
.ef69 { color: #5f87ff; } .eb69 { background-color: #5f87ff; }
.ef70 { color: #5faf00; } .eb70 { background-color: #5faf00; }
.ef71 { color: #5faf5f; } .eb71 { background-color: #5faf5f; }
.ef72 { color: #5faf87; } .eb72 { background-color: #5faf87; }
.ef73 { color: #5fafaf; } .eb73 { background-color: #5fafaf; }
.ef74 { color: #5fafd7; } .eb74 { background-color: #5fafd7; }
.ef75 { color: #5fafff; } .eb75 { background-color: #5fafff; }
.ef76 { color: #5fd700; } .eb76 { background-color: #5fd700; }
.ef77 { color: #5fd75f; } .eb77 { background-color: #5fd75f; }
.ef78 { color: #5fd787; } .eb78 { background-color: #5fd787; }
.ef79 { color: #5fd7af; } .eb79 { background-color: #5fd7af; }
.ef80 { color: #5fd7d7; } .eb80 { background-color: #5fd7d7; }
.ef81 { color: #5fd7ff; } .eb81 { background-color: #5fd7ff; }
.ef82 { color: #5fff00; } .eb82 { background-color: #5fff00; }
.ef83 { color: #5fff5f; } .eb83 { background-color: #5fff5f; }
.ef84 { color: #5fff87; } .eb84 { background-color: #5fff87; }
.ef85 { color: #5fffaf; } .eb85 { background-color: #5fffaf; }
.ef86 { color: #5fffd7; } .eb86 { background-color: #5fffd7; }
.ef87 { color: #5fffff; } .eb87 { background-color: #5fffff; }
.ef88 { color: #870000; } .eb88 { background-color: #870000; }
.ef89 { color: #87005f; } .eb89 { background-color: #87005f; }
.ef90 { color: #870087; } .eb90 { background-color: #870087; }
.ef91 { color: #8700af; } .eb91 { background-color: #8700af; }
.ef92 { color: #8700d7; } .eb92 { background-color: #8700d7; }
.ef93 { color: #8700ff; } .eb93 { background-color: #8700ff; }
.ef94 { color: #875f00; } .eb94 { background-color: #875f00; }
.ef95 { color: #875f5f; } .eb95 { background-color: #875f5f; }
.ef96 { color: #875f87; } .eb96 { background-color: #875f87; }
.ef97 { color: #875faf; } .eb97 { background-color: #875faf; }
.ef98 { color: #875fd7; } .eb98 { background-color: #875fd7; }
.ef99 { color: #875fff; } .eb99 { background-color: #875fff; }
.ef100 { color: #878700; } .eb100 { background-color: #878700; }
.ef101 { color: #87875f; } .eb101 { background-color: #87875f; }
.ef102 { color: #878787; } .eb102 { background-color: #878787; }
.ef103 { color: #8787af; } .eb103 { background-color: #8787af; }
.ef104 { color: #8787d7; } .eb104 { background-color: #8787d7; }
.ef105 { color: #8787ff; } .eb105 { background-color: #8787ff; }
.ef106 { color: #87af00; } .eb106 { background-color: #87af00; }
.ef107 { color: #87af5f; } .eb107 { background-color: #87af5f; }
.ef108 { color: #87af87; } .eb108 { background-color: #87af87; }
.ef109 { color: #87afaf; } .eb109 { background-color: #87afaf; }
.ef110 { color: #87afd7; } .eb110 { background-color: #87afd7; }
.ef111 { color: #87afff; } .eb111 { background-color: #87afff; }
.ef112 { color: #87d700; } .eb112 { background-color: #87d700; }
.ef113 { color: #87d75f; } .eb113 { background-color: #87d75f; }
.ef114 { color: #87d787; } .eb114 { background-color: #87d787; }
.ef115 { color: #87d7af; } .eb115 { background-color: #87d7af; }
.ef116 { color: #87d7d7; } .eb116 { background-color: #87d7d7; }
.ef117 { color: #87d7ff; } .eb117 { background-color: #87d7ff; }
.ef118 { color: #87ff00; } .eb118 { background-color: #87ff00; }
.ef119 { color: #87ff5f; } .eb119 { background-color: #87ff5f; }
.ef120 { color: #87ff87; } .eb120 { background-color: #87ff87; }
.ef121 { color: #87ffaf; } .eb121 { background-color: #87ffaf; }
.ef122 { color: #87ffd7; } .eb122 { background-color: #87ffd7; }
.ef123 { color: #87ffff; } .eb123 { background-color: #87ffff; }
.ef124 { color: #af0000; } .eb124 { background-color: #af0000; }
.ef125 { color: #af005f; } .eb125 { background-color: #af005f; }
.ef126 { color: #af0087; } .eb126 { background-color: #af0087; }
.ef127 { color: #af00af; } .eb127 { background-color: #af00af; }
.ef128 { color: #af00d7; } .eb128 { background-color: #af00d7; }
.ef129 { color: #af00ff; } .eb129 { background-color: #af00ff; }
.ef130 { color: #af5f00; } .eb130 { background-color: #af5f00; }
.ef131 { color: #af5f5f; } .eb131 { background-color: #af5f5f; }
.ef132 { color: #af5f87; } .eb132 { background-color: #af5f87; }
.ef133 { color: #af5faf; } .eb133 { background-color: #af5faf; }
.ef134 { color: #af5fd7; } .eb134 { background-color: #af5fd7; }
.ef135 { color: #af5fff; } .eb135 { background-color: #af5fff; }
.ef136 { color: #af8700; } .eb136 { background-color: #af8700; }
.ef137 { color: #af875f; } .eb137 { background-color: #af875f; }
.ef138 { color: #af8787; } .eb138 { background-color: #af8787; }
.ef139 { color: #af87af; } .eb139 { background-color: #af87af; }
.ef140 { color: #af87d7; } .eb140 { background-color: #af87d7; }
.ef141 { color: #af87ff; } .eb141 { background-color: #af87ff; }
.ef142 { color: #afaf00; } .eb142 { background-color: #afaf00; }
.ef143 { color: #afaf5f; } .eb143 { background-color: #afaf5f; }
.ef144 { color: #afaf87; } .eb144 { background-color: #afaf87; }
.ef145 { color: #afafaf; } .eb145 { background-color: #afafaf; }
.ef146 { color: #afafd7; } .eb146 { background-color: #afafd7; }
.ef147 { color: #afafff; } .eb147 { background-color: #afafff; }
.ef148 { color: #afd700; } .eb148 { background-color: #afd700; }
.ef149 { color: #afd75f; } .eb149 { background-color: #afd75f; }
.ef150 { color: #afd787; } .eb150 { background-color: #afd787; }
.ef151 { color: #afd7af; } .eb151 { background-color: #afd7af; }
.ef152 { color: #afd7d7; } .eb152 { background-color: #afd7d7; }
.ef153 { color: #afd7ff; } .eb153 { background-color: #afd7ff; }
.ef154 { color: #afff00; } .eb154 { background-color: #afff00; }
.ef155 { color: #afff5f; } .eb155 { background-color: #afff5f; }
.ef156 { color: #afff87; } .eb156 { background-color: #afff87; }
.ef157 { color: #afffaf; } .eb157 { background-color: #afffaf; }
.ef158 { color: #afffd7; } .eb158 { background-color: #afffd7; }
.ef159 { color: #afffff; } .eb159 { background-color: #afffff; }
.ef160 { color: #d70000; } .eb160 { background-color: #d70000; }
.ef161 { color: #d7005f; } .eb161 { background-color: #d7005f; }
.ef162 { color: #d70087; } .eb162 { background-color: #d70087; }
.ef163 { color: #d700af; } .eb163 { background-color: #d700af; }
.ef164 { color: #d700d7; } .eb164 { background-color: #d700d7; }
.ef165 { color: #d700ff; } .eb165 { background-color: #d700ff; }
.ef166 { color: #d75f00; } .eb166 { background-color: #d75f00; }
.ef167 { color: #d75f5f; } .eb167 { background-color: #d75f5f; }
.ef168 { color: #d75f87; } .eb168 { background-color: #d75f87; }
.ef169 { color: #d75faf; } .eb169 { background-color: #d75faf; }
.ef170 { color: #d75fd7; } .eb170 { background-color: #d75fd7; }
.ef171 { color: #d75fff; } .eb171 { background-color: #d75fff; }
.ef172 { color: #d78700; } .eb172 { background-color: #d78700; }
.ef173 { color: #d7875f; } .eb173 { background-color: #d7875f; }
.ef174 { color: #d78787; } .eb174 { background-color: #d78787; }
.ef175 { color: #d787af; } .eb175 { background-color: #d787af; }
.ef176 { color: #d787d7; } .eb176 { background-color: #d787d7; }
.ef177 { color: #d787ff; } .eb177 { background-color: #d787ff; }
.ef178 { color: #d7af00; } .eb178 { background-color: #d7af00; }
.ef179 { color: #d7af5f; } .eb179 { background-color: #d7af5f; }
.ef180 { color: #d7af87; } .eb180 { background-color: #d7af87; }
.ef181 { color: #d7afaf; } .eb181 { background-color: #d7afaf; }
.ef182 { color: #d7afd7; } .eb182 { background-color: #d7afd7; }
.ef183 { color: #d7afff; } .eb183 { background-color: #d7afff; }
.ef184 { color: #d7d700; } .eb184 { background-color: #d7d700; }
.ef185 { color: #d7d75f; } .eb185 { background-color: #d7d75f; }
.ef186 { color: #d7d787; } .eb186 { background-color: #d7d787; }
.ef187 { color: #d7d7af; } .eb187 { background-color: #d7d7af; }
.ef188 { color: #d7d7d7; } .eb188 { background-color: #d7d7d7; }
.ef189 { color: #d7d7ff; } .eb189 { background-color: #d7d7ff; }
.ef190 { color: #d7ff00; } .eb190 { background-color: #d7ff00; }
.ef191 { color: #d7ff5f; } .eb191 { background-color: #d7ff5f; }
.ef192 { color: #d7ff87; } .eb192 { background-color: #d7ff87; }
.ef193 { color: #d7ffaf; } .eb193 { background-color: #d7ffaf; }
.ef194 { color: #d7ffd7; } .eb194 { background-color: #d7ffd7; }
.ef195 { color: #d7ffff; } .eb195 { background-color: #d7ffff; }
.ef196 { color: #ff0000; } .eb196 { background-color: #ff0000; }
.ef197 { color: #ff005f; } .eb197 { background-color: #ff005f; }
.ef198 { color: #ff0087; } .eb198 { background-color: #ff0087; }
.ef199 { color: #ff00af; } .eb199 { background-color: #ff00af; }
.ef200 { color: #ff00d7; } .eb200 { background-color: #ff00d7; }
.ef201 { color: #ff00ff; } .eb201 { background-color: #ff00ff; }
.ef202 { color: #ff5f00; } .eb202 { background-color: #ff5f00; }
.ef203 { color: #ff5f5f; } .eb203 { background-color: #ff5f5f; }
.ef204 { color: #ff5f87; } .eb204 { background-color: #ff5f87; }
.ef205 { color: #ff5faf; } .eb205 { background-color: #ff5faf; }
.ef206 { color: #ff5fd7; } .eb206 { background-color: #ff5fd7; }
.ef207 { color: #ff5fff; } .eb207 { background-color: #ff5fff; }
.ef208 { color: #ff8700; } .eb208 { background-color: #ff8700; }
.ef209 { color: #ff875f; } .eb209 { background-color: #ff875f; }
.ef210 { color: #ff8787; } .eb210 { background-color: #ff8787; }
.ef211 { color: #ff87af; } .eb211 { background-color: #ff87af; }
.ef212 { color: #ff87d7; } .eb212 { background-color: #ff87d7; }
.ef213 { color: #ff87ff; } .eb213 { background-color: #ff87ff; }
.ef214 { color: #ffaf00; } .eb214 { background-color: #ffaf00; }
.ef215 { color: #ffaf5f; } .eb215 { background-color: #ffaf5f; }
.ef216 { color: #ffaf87; } .eb216 { background-color: #ffaf87; }
.ef217 { color: #ffafaf; } .eb217 { background-color: #ffafaf; }
.ef218 { color: #ffafd7; } .eb218 { background-color: #ffafd7; }
.ef219 { color: #ffafff; } .eb219 { background-color: #ffafff; }
.ef220 { color: #ffd700; } .eb220 { background-color: #ffd700; }
.ef221 { color: #ffd75f; } .eb221 { background-color: #ffd75f; }
.ef222 { color: #ffd787; } .eb222 { background-color: #ffd787; }
.ef223 { color: #ffd7af; } .eb223 { background-color: #ffd7af; }
.ef224 { color: #ffd7d7; } .eb224 { background-color: #ffd7d7; }
.ef225 { color: #ffd7ff; } .eb225 { background-color: #ffd7ff; }
.ef226 { color: #ffff00; } .eb226 { background-color: #ffff00; }
.ef227 { color: #ffff5f; } .eb227 { background-color: #ffff5f; }
.ef228 { color: #ffff87; } .eb228 { background-color: #ffff87; }
.ef229 { color: #ffffaf; } .eb229 { background-color: #ffffaf; }
.ef230 { color: #ffffd7; } .eb230 { background-color: #ffffd7; }
.ef231 { color: #ffffff; } .eb231 { background-color: #ffffff; }
.ef232 { color: #080808; } .eb232 { background-color: #080808; }
.ef233 { color: #121212; } .eb233 { background-color: #121212; }
.ef234 { color: #1c1c1c; } .eb234 { background-color: #1c1c1c; }
.ef235 { color: #262626; } .eb235 { background-color: #262626; }
.ef236 { color: #303030; } .eb236 { background-color: #303030; }
.ef237 { color: #3a3a3a; } .eb237 { background-color: #3a3a3a; }
.ef238 { color: #444444; } .eb238 { background-color: #444444; }
.ef239 { color: #4e4e4e; } .eb239 { background-color: #4e4e4e; }
.ef240 { color: #585858; } .eb240 { background-color: #585858; }
.ef241 { color: #626262; } .eb241 { background-color: #626262; }
.ef242 { color: #6c6c6c; } .eb242 { background-color: #6c6c6c; }
.ef243 { color: #767676; } .eb243 { background-color: #767676; }
.ef244 { color: #808080; } .eb244 { background-color: #808080; }
.ef245 { color: #8a8a8a; } .eb245 { background-color: #8a8a8a; }
.ef246 { color: #949494; } .eb246 { background-color: #949494; }
.ef247 { color: #9e9e9e; } .eb247 { background-color: #9e9e9e; }
.ef248 { color: #a8a8a8; } .eb248 { background-color: #a8a8a8; }
.ef249 { color: #b2b2b2; } .eb249 { background-color: #b2b2b2; }
.ef250 { color: #bcbcbc; } .eb250 { background-color: #bcbcbc; }
.ef251 { color: #c6c6c6; } .eb251 { background-color: #c6c6c6; }
.ef252 { color: #d0d0d0; } .eb252 { background-color: #d0d0d0; }
.ef253 { color: #dadada; } .eb253 { background-color: #dadada; }
.ef254 { color: #e4e4e4; } .eb254 { background-color: #e4e4e4; }
.ef255 { color: #eeeeee; } .eb255 { background-color: #eeeeee; }

.f9 { color: #000000; }
.b9 { background-color: #FFFFFF; }
.f9 > .bold,.bold > .f9, body.f9 > pre > .bold {
  /* Bold is heavy black on white, or bright white
     depending on the default background */
  color: #000000;
  font-weight: bold;
}
.reverse {
  /* CSS does not support swapping fg and bg colours unfortunately,
     so just hardcode something that will look OK on all backgrounds. */
  color: #000000; background-color: #AAAAAA;

  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */


/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/


/* Style northward tooltips differently */


/*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/

.overlay {
    height: 100%;
    width: 100%;
    z-index: 1001;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    background-color: black;
}

/*
/* App Management Controls
*/

.info-panel form {
  clear: both;
}

.appModal .modal-controls {
  margin-top: 20px;

}

.appModal .modal-controls .btn {
  margin-right: 10px;
}

/*
/* App Management Console
*/

.app-management-console {
    background-color: #4A4A4A;
    margin: 20px 20px 20px 0;
    padding: 20px;
    color: lightgray;
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 500px;
    overflow: auto;
}

.has-feedback label~.form-control-feedback {
    font-size: 1.3em;
}

.log {
    width: 720px;
    height: 405px;
    padding: 10px;
    color: #32CD32;
}

.sshLog {
    /*background-color: #4A4A4A;*/
    margin: 20px 20px 20px 0;
    padding: 20px;
    /*color: lightgray;*/
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 450px;
    overflow: auto;
    font-size: 13px;
    font-weight: normal;
    font-family: monospace;
    text-align: left;
    background-color: #33332D;
}

.fadein {
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
/*
/*
 ** Loading Page **
*/

.loading-container {
  padding: 30px;
}

.Steps {
    height: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    overflow: auto;
    margin-top: 20px;
    /*    opacity: 0.5;   */
}

.Steps h3 {
  border-width: 0px 00px 0px 13px;
  border-style: solid;
  border-color: #008B8B;
  padding: 10px;
  margin: 0;
}

.step-body {
  overflow: auto;
  border: 1px solid #FAFAFA;
  margin-top: 10px;
  padding: 20px 20px 0 20px;
}

.load-bubbles {
  clear: left;
}

.Steps .step-body .status-bubble, .Steps .step-body .build-bubble {
  width: 110px;
  height: 110px;
  font-size: 18px;
  padding: 21px 0 0 20px;
  float: left;
  display: block;
  margin: 5px;
  font-size: 12px;
  border-radius: 50%;
}

.Steps .step-body .status-bubble {
  padding: 20px 0 0 10px;
}

.Steps .step-body .status-bubble span, .Steps .step-body .build-bubble span {
  font-family: Avenir, sans-serif;
  font-size: 13px;
  display: block;
  letter-spacing: .2em;
}

.estimate-time {
  margin-top: 5px;
  font-size: 0.7em;
  clear: right;
  background-color: #EDEFF0;
  padding: 5px;
}


.react-countdown-clock {
  float: right;
  margin-right: 10px;
}

.Steps .log {
    /*  width: 720px;
    height: 405px;
    color: white;
    background: #000;
    border: 5px groove #ccc;
    display: block;
    font-size: 13px;
    font-weight: normal;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1002;
    opacity: 1;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 16px;
    background-color: black;*/
    background-color: #4A4A4A;
    margin: 20px 20px 20px 0;
    padding: 20px;
    color: lightgray;
    border: 2px solid darkblue;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
    height: 200px;
    overflow: auto;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    margin: 10px auto 0 auto;
    width: 100%;
}

.Step_Two h3 {
  border-color: #FEF7E3;
}

.Step_Two .load-bubbles {
  margin: 0 0 10px 20px;
  overflow: auto;
}

.Step_Two .react-countdown-clock {
  margin: 10px 0px 20px 0;
}

.Step_Two .estimate-time, .Step_Four .estimate-time {
  margin-right: 30px;
}

.Step_Three h3 {
  border-color: #F16521;
}

.Step_Four h3 {
  border-color: #33332D;
}

.Step_Five h3 {
  border-color: #EE9A00;
}

.subdomain-modal .modal-header {
  background-color: #008B8B;
  border-radius: 5px 5px 0 0;
  color: #FEF7E3;
  padding-top: 20px;
}

.subdomain-modal .modal-body .form-inline {
  margin-top: 30px;
}

.subdomain-modal .modal-body .has-feedback {
  right: 0px;
}

.subdomain-modal .modal-body .has-feedback label~.form-control-feedback {
  right: 70px;
}

.subdomain-modal .modal-body button {
  background-image: none;
  text-shadow: none;
  color: #33332D;
  box-shadow: none;
  border: 2px solid #33332D;
  float: right;
  margin-right: 10px;
}

.subdomain-modal .modal-body span.form-control-feedback .glyphicon .glyphicon-ok {
  right: 70px;
}

.subdomain-modal .modal-body button:hover {
  background-color: #EE9A00;
  color: #FEF7E3;
  border-color: #EE9A00;
}

.popUp {
    width: 720px;
    height: 405px;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 2000;
    opacity: 1;
    position: absolute;
    transition: ease 1000ms linear;
}

.nav-tabs>li {
    width: 50%;
    color: #4A4A4A;
}

.repoInstance {
    text-align: center;
}

/*
/* Live Console
*/
.iframe {
  position: relative;
}
.underline { text-decoration: underline; }
.line-through { text-decoration: line-through; }
.blink { text-decoration: blink; }

/* Avoid pixels between adjacent span elements.
   Note this only works for lines less than 80 chars
   where we close span elements on the same line.
span { display: inline-block; }
*/


/*************************************************/


/* small screens */
@media (max-width: 1084px) {
  .hideHeader {
    position: relative;
    background-color: #EE9A00;
    top: 0px;
  }

  .tooltips {
    display: none;
  }

  .signIn {
    margin: 10px 0;
    width: 100%;
  }

  .side-bar {
      width: 0px;
      z-index: 100;
  }
  .main {
      margin-left: 0;
      float: none;
  }
  .home-details .image {
    float: none;
  }

  #uncontrolled-tab-example {
    margin: 0 auto 50px auto;
  }

}
